---
import AstroIcon from "./icons/AstroIcon.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "Porfolio - Mi portafolio personal",
    description:
      "Creado con Astro y Tailwind CSS. Es un portafolio personal donde muestro mis proyectos y habilidades. Optimizado para SEO y performance.",
    link: "#",
    github: "https://github.com/JhnFrankz/porfolio-dev",
    image: "/projects/porfolio-dev.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, image, description, tags }) => (
    <article class="mb-6">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-2 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
